.choose_mode_main {
  background-color: black;
  overflow: scroll;
}
.heading {
  color: white;
  font-family: "Minimal Regular";
  text-align: center;
  height: 10vh;
  font-style: italic;
}
.theme_icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
}

.theme_icon_holder {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  overflow: hidden;
  max-height: 500px;
  max-width: 500px;
  overflow: hidden;
  min-width: 50px;
  min-height: 50px;
}
.border-yellow {
  border: 3px solid yellow;
}

.border-white {
  border: 3px solid white;
}

.theme_icon_holder_with_bg {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  max-height: 500px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

.theme_icon_holder_with_bg_image {
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform-origin: center center;
  height: 30vh;
  width: 30vh;
  min-height: 500px;
  min-width: 500px;
}

.animate_pos_1 {
  transform: translate(0);
}

.animate_pos_2 {
  transform: translateX(-150px);
}

.animate_pos_3 {
  transform: translateY(-150px);
}

.animate_pos_4 {
  transform: translateY(-300px);
}

.mode_sub_text{
  color: white;
  z-index: 9;
  position: relative;
  text-align: center;
  width: fit-content;
  height: fit-content;
}