* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,Cyberpunk Regular;
    margin:0;
    border: 0;
    width: 100vw;
    height: 100vh;
    
}

@font-face {
  font-family: "Cyberpunk Regular";
  src: url("../public/fonts/Cyberpunk.ttf");
}
@font-face {
  font-family: "Marvel Outline Italian";
  src: url("../public/fonts/marvel_outline_italian.ttf");
}
@font-face {
  font-family: "Marvel Outline";
  src: url("../public/fonts/marvel_outline.ttf");
}
@font-face {
  font-family: "Marvel Regular";
  src: url("../public/fonts/marvel_regular.ttf");
}
@font-face {
  font-family: "Marvel Regular Italian";
  src: url("../public/fonts/marvel_regular_italian.ttf");
}
@font-face {
  font-family: "Minimal Italian";
  src: url("../public/fonts/minimal-italian.ttf");
}
@font-face {
  font-family: "Minimal Regular";
  src: url("../public/fonts/minimal.ttf");
}
@font-face {
  font-family: "Year1991";
  src: url("../public/fonts/year1991.ttf");
}

.theme_icon_avatar{
  border-radius: 50%; 
  .theme_icon_avatar_with_bg{
    z-index: 9;
  }
}
